.title-project{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.title-details{
    font-size: 1rem;
    font-weight: bold;
    color: #808080;
}

.project-details p ul li{
    color: #a9a9a9!important;
}